header{
    border-bottom: 1px solid rgba(121, 120, 120, 0.374);
}

.menu-2{
    padding-top: 10px;
    padding-bottom: 5px;
}

.menu-2 h2{
    font-size: 20px;
}

.menu-opcao{
    margin: 0 10px;
    list-style: none;
}

.menu-opcao a{
    text-decoration: none;
    color: rgb(121, 120, 120);
    font-size: 13px;
}

.menu-opcao a:hover{
    color: rgb(48, 142, 235);
}

/* main */
.zera-left{
    margin-left: 0;
    padding-left: 0;
}

.zera-right{
    margin-right: 0;
    padding-right: 0;
}

.divisao-botton{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(173, 173, 173, 0.38);
}

.espaco{
    margin-top: 20px;
    margin-bottom: 20px;
}



